.single {
    .jeomap nav a {
        color: #404040;
        font-weight: normal;

        &:hover{
            color: #555;
        }
    }
}


.jeomap {
    .legend-container {
        a.more-info-button {
            font-size: 14px !important;
            padding: 3px !important;
            background: var(--primary) !important;
            color: #fff !important;
            border-radius: 5px;
            border: 0px !important;
            text-transform: uppercase;

            &:hover {
                color: #fff;
                background: var(--primary-darker-15) !important;
            }
        }
    }

    .mapboxgl-popup-close-button {
        background: var(--primary) !important;
        color: #fff !important;

        span {
            font-size: 35px !important;
            line-height: 25px;
        }
    }

    .mapboxgl-ctrl-fullscreen {
        background-color: white !important;
        /*background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='play' class='svg-inline--fa fa-play fa-w-14' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='white' d='M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z'%3E%3C/path%3E%3C/svg%3E");
        */
    }

    .mapboxgl-ctrl-shrink {
        background-color: white !important;
        /*background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='headphones' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' class='svg-inline--fa fa-headphones fa-w-16 fa-3x'%3E%3Cpath fill='white' d='M256 32C114.52 32 0 146.496 0 288v48a32 32 0 0 0 17.689 28.622l14.383 7.191C34.083 431.903 83.421 480 144 480h24c13.255 0 24-10.745 24-24V280c0-13.255-10.745-24-24-24h-24c-31.342 0-59.671 12.879-80 33.627V288c0-105.869 86.131-192 192-192s192 86.131 192 192v1.627C427.671 268.879 399.342 256 368 256h-24c-13.255 0-24 10.745-24 24v176c0 13.255 10.745 24 24 24h24c60.579 0 109.917-48.098 111.928-108.187l14.382-7.191A32 32 0 0 0 512 336v-48c0-141.479-114.496-256-256-256z' class=''%3E%3C/path%3E%3C/svg%3E");
        */
    }

    .mapboxgl-ctrl-attrib-inner a {
        color: #191E23 !important;

        &:hover {
            color: #555 !important;
        }
    }

    .map-content-layers-list {
        h3 {
            font-size: 16px !important;
            font-weight: normal !important;
        }
    }
    
    .mapboxgl-ctrl-top-left {
        display: inline-flex;
    }


    .mapboxgl-ctrl-group {
        border-radius: 0px;
        background: transparent;
        display: inline-flex;
        
        > button {
        margin: 2px;
        border-radius: 0px !important;

            &:active , &:visited{
                border-radius: 0px;
            }

            &:hover {
                opacity: 1;
            }
        }

        > button + button {
            border-top: 0px;
        }

        &:not(:empty) {
            box-shadow: none;
        }
    }
    
}

.dark-theme{
    .jeomap {
        .more-info-overlayer {
            color: #191E23 
        }
    }
}