.single {
    .jeomap nav a {
        color: #404040;
        font-weight: normal;

        &:hover{
            color: #555;
        }
    }
}

.dark-theme{
    .jeomap {
        .more-info-overlayer {
            color: #191E23 ;
        }
    }
}