node_modules/
themes/newspack-theme/
themes/jeo-theme/dist/*

wp-content/*
wp-content/themes/*
wp-content/plugins/*
wp-content/upgrade/*
wp-content/uploads/*
wp-content/mu-plugins/*
wp-content/languages/*

mariadb/data/
documentation/site/

