node_modules/
themes/jeo-theme/dist/
themes/newspack-theme/


wp-content/*
wp-content/themes/*
wp-content/plugins/*
wp-content/upgrade/*
wp-content/uploads/*
wp-content/mu-plugins/*
wp-content/languages/*

mariadb_data/

