.error-404 {
    margin: 40px 20px;
    text-align: center;

    .button {
        font-size: 14px;
        text-transform: uppercase;
        background: #333;
        color: #fff;

        &:hover {
            background: #0A0A0A;
            color: #fff
        }
    }
}