.archive{ 
    .author {
        .author-main-content {
            margin: auto;
            max-width: 90%;
            width: 1200px;
            display: flex;
        }
    }
}

.archive.author {
    .site-content {
        margin-top: 0px;
    }

    .author-social-links li {
        margin-right: 40px;
    }

    .page-header .avatar {
        margin-right: 2.1875rem !important;
    }
}