.archive{ 
    .author {
        .author-main-content {
            margin: auto;
            max-width: 90%;
            width: 1200px;
            display: flex;
        }
    }
}

.author {
    .site-content {
        margin-top: 0px;
    }
}