header.page-header.category {
    background-color: unset;

    .mobile-author-label, .desktop-author-label {
        font-size: 18px;
    }
}

.category-page-sidebar {
    @include desktop{
        width: 25%;
    }
}


.category-page-sidebar .newsletter {
    padding: 10%;
    color: var(--primary);
    background-color: rgba(0, 0, 0, 0.24);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-page-sidebar .newsletter .fa-envelope {
    margin: 20px;
}

.category-page-sidebar .newsletter-header p {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.category-page-sidebar .newsletter .anchor-text {
    font-weight: bold;
    color: var(--secondary);
    margin-bottom: 15%;
}

.category-page-sidebar .newsletter form {
    border:2px solid var(--primary);
    border-radius: 10px;
    margin-bottom: 5px;

    div {
        display: flex;
        flex-direction: row;
    }

    input {
        background-color: unset;
        border: none;

    }
    input:focus {
        outline: none;
    }

    button {
        
        background-color: var(--primary);
        border-top-left-radius: initial;
        border-bottom-left-radius: initial;
    }
}

.category-page-sidebar .newsletter {
    p.link {
        font-size: 14px;
        color: #555D66;

        a {
            color: var(--primary)
        }
        a:hover {
            font-weight: bold;
        }
    }

    p.last-edition a {
        color: var(--primary);
        font-size: 14px;
        font-weight: bold;
    }
}

.category-most-read {
    margin-top: 20%;
    background-color: #F5F5F5;
    .header {
        background-color: var(--primary);
        border-radius: 10px 10px 0 0;
        p {
            padding: 20px 30px;
            color: white;
            text-align: center;
            margin-bottom: 0px;
            letter-spacing: 0;
            line-height: 19px;
            font-weight: bold;
        }
    }

    .posts {
        padding: 30px;

        p {
            font-size: 16px;
            font-weight: bold;
        }
    }
}