.home {
    &__newsletter-link{
       color: var(--primary) !important; 
    }

    &__newsletter-bkg{
        border-radius: 40px;
        padding: 1rem 3rem;

        .wp-block-columns{
            margin-bottom: 0px;
        }

        &.wp-block-cover.has-background-dim:not(.has-background-gradient):before {
            border-radius: 40px;
        }
    }

    &__newsletter-text{
        font-size: 13px;
        text-align: right;
        color: #333333 !important; /* it should be a tertiary color*/
    }

    &__newsletter-icon {
        color: var(--primary); 
        font-size: 70px;
        margin-bottom: 0px !important;
      }
    
    &__newsletter-btn{
        background-color: var(--primary); 
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        color: #fff;
        border-color: var(--primary);
    }

    &__see-more-posts {
        margin-top: 15px !important;
    }


    &__block-sidebar {

        &.has-background {
            border-radius: 10px;
            padding: 0px;
        }

        .wp-block-group {
            padding: 30px 30px 30px 30px;
            margin-top: 0px !important;
        }
        
        p {
            margin-bottom: 0px !important;
            border-radius: 15px 15px 0 0;
        }
    }

    .has-more-button button {
        background: transparent;
        color: #555D66;
        font-size: 14px !important;
        width: 100%;
        border-top: 2px solid #DDDDDD;
    }
}

.wp-block-columns{
    margin-bottom: 0px;

    .wp-block-column .wp-block-button {
        margin-top: 15px !important;
    }

    .button__fullwidth-link a {
        width: 100%;
    }
}

hr {
    margin: 0px !important;
}

.entry .entry-content .wp-block-group .wp-block-group__inner-container > * {
    margin-top: 0px;
  }

.wp-block-newspack-blocks-carousel .amp-carousel-button, .wp-block-newspack-blocks-carousel .swiper-button {
    background-color: rgba(25,30,35,0.3) !important;
    border-radius: 50px !important;
}

.wp-block-newspack-blocks-carousel article .entry-wrapper {
    background-color: rgba(25,30,35,0.8) !important;
    padding: 1em !important;
}

.wp-block-newspack-blocks-carousel .swiper-pagination-bullet {
    background: var(--primary) !important;
}

.wp-block-newspack-blocks-carousel .swiper-pagination-bullet.swiper-pagination-bullet-active, .wp-block-newspack-blocks-carousel .swiper-pagination-bullet[selected] {
    width: 12px !important;
}

.wp-block-newspack-blocks-carousel .swiper-pagination-bullets {
    height: calc(18px + 12px) !important;
}