.home {
    &__newsletter-link{
       color: var(--primary) !important; 
    }

    &__newsletter-bkg{
        border-radius: 40px;
        padding: 1rem 3rem;

        .wp-block-columns{
            margin-bottom: 0px;
        }

        &.wp-block-cover.has-background-dim:not(.has-background-gradient):before {
            border-radius: 40px;
        }
    }

    &__newsletter-text{
        font-size: 13px;
        text-align: right;
        color: #333333 !important; /* it should be a tertiary color*/
    }

    &__newsletter-icon {
        color: var(--primary); 
        font-size: 70px;
        margin-bottom: 0px !important;
      }
    
    &__newsletter-btn{
        background-color: var(--primary); 
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        color: #fff;
        border-color: var(--primary);
    }

    &__see-more-posts {
        margin-top: 15px !important;
    }


    &__block-sidebar {

        &.has-background {
            border-radius: 10px;
            padding: 0px;
        }

        .wp-block-group {
            padding: 30px 30px 30px 30px;
            margin-top: 0px !important;
        }
        
        p {
            margin-bottom: 0px !important;
            border-radius: 15px 15px 0 0;
        }
    }

    .has-more-button button {
        background: transparent;
        color: #555D66;
        font-size: 14px;
    }
}

.wp-block-columns{
    margin-bottom: 0px;
}

hr {
    margin: 0px !important;
}

