.advanced-search{
    .input-search input{
        border: 1px solid #CCC;
        box-shadow: 0 2px 4px 0 rgba(#CCC, 0.5);
        border-radius: 10px 0 0 10px;
        float: left;
        width: calc(100% - 50px);
    }

    i.fas{
        border-radius: 0 5px 5px 0;
        background-color: $c_secondary;
        padding: 11.5px 15px;
        color: white;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    }

    .showing {
        font-size: 12px;
        width: 100%;
        overflow: hidden;

        span{
            opacity: 0.5;
            font-weight: bold;
            margin-right: 15px;
        }
    }
}