.single-storymap{


    &.dark-theme {
        .step div {
            background-color: #191E23;
            color: #F5F5F5;
        }
    }
}


.post-type-archive-storymap {
    .taxonomy-description {
        display: none;
    }
}