.single {
    .entry-header {
        width: 100%;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;

        @include desktop {
            max-width: 58.334%;
        }

        .entry-meta {
            align-items: center;
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }
    .main-content {
        width: 100%;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;

        @include desktop {
            max-width: 58.334%;
        }

        .tags-links {
            border-top: 1px solid #979797;
            width: 100%;
            border-bottom: 1px solid #979797;
            padding: 34px 0;
            margin-top: 76px;

            span:first-child {
                display: block;
                color: #555D66;
                font-family: var(--primary-font);
                font-size: 18px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 21px;
                margin-bottom: 30px;
            }

            a[rel=tag] {
                border-radius: 5px;
                color: var(--primary);
                padding: 7px 20px;
                background-color: #cccccc20;
                margin-right: 10px;
                margin-bottom: 10px;
                font-weight: bold;
            }

            span.sep {
                display: none 
            }
            
        }

        .author-bio {
            flex-wrap: wrap;

            .author-introduce-title {
                width: 100%;
                color: #555D66;
                font-family: var(--primary-font);
                font-size: 18px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 21px;
                text-transform: uppercase;
                margin-bottom: 37px;
            }

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                
            }

            &-text {
                .author-bio-header {
                    letter-spacing: 0;
                    line-height: 22px;
                    
                    .accent-header {
                        font-family: var(--primary-font);
                        text-transform: unset;
                        color: #0A0A0A;
                        font-size: 16px;
                        font-weight: bold;
                    }

                    .author-meta {
                        color: #555D66;
                        font-size: 14px;    
                    }
                }
                
            }

            .author-description {
                font-family: var(--primary-font);
                color: #0A0A0A;
                letter-spacing: 0;
                line-height: 22px;
                margin-top: 13px;
            }
        }

        .comments-area {
            .comments-title {
                color: #555D66;
                font-family: var(--primary-font);
                font-size: 18px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 21px;
                text-transform: uppercase;
            }
            
            .form-submit {
                input[name=submit] {
                    background: var(--primary);
                }
            }
        }

    }

    section.behind {
        main {
            .entry-meta {
                max-width: 90%;
                color: rgba(85, 93, 102, 0.699);
                font-size: 14px;
                letter-spacing: 0;
                line-height: 17px;
                display: flex;
                justify-content: space-between;
                margin: 13px auto;

                .byline {
                    margin-right: 15px;
                }
            }

            .main-content {
                max-width: 90%;
                margin: 0 auto;

                @include desktop {
                    max-width: 58.334%;
                }
            }

            .featured-image-behind {
                .entry-header {
                    @include desktop {
                        max-width: 58.334%;
                    }
                }

                .wrapper {
                    position: relative;
                    .image-info {
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        z-index: 2;

                        i {
                            color: white;
                            padding: 15px 0;
                            cursor:  pointer;
                        }
                    }
                }

                .image-meta {
                    background: rgba(25, 30, 35, 0.9);
                    color: #F9F9F9;
                }
            }

            .image-info-container {
                width: 100%;
                position: absolute;
                bottom: 0;
                background: rgba(25,30,35,0.9);
                padding: 22px 0;
                color: #F9F9F9;
                font-size: 14px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 17px;
                z-index: 1;
                opacity: 0;
                transition: all .2s ease-in-out;

                &.active {
                    opacity: 1;
                    transition: all .2s ease-in-out;
                }

                .image-meta {
                    margin: 0 auto;

                    i {
                        margin: 0 21px;
                        opacity: 0.7;
                    }

                    .credit {
                        opacity: 0.7;
                        color: #F9F9F9;
                        font-size: 14px;
                        letter-spacing: 0;
                        line-height: 17px;
                    }


                }
            }
        }
    }

    section.small {
        .entry-header {
            border-bottom-width: 0;

            @include large {
                margin: 0 auto;
                max-width: 58.334%;
            }

            .entry-meta {
                display: flex;
                justify-content: space-between;
            }
        }

        .post-thumbnail {
            img {
                width: 100%;
            }
        }

        .main-content {
            margin: 0 auto;

            @include large {
                max-width: 58.334%;
            }
        }
    }
}