.search {
    .page-title {
        margin-bottom: 60px;
    }

    form.search-form {
        margin-bottom: 29px;

        .search-input-wrapper {
            position: relative;
            margin-bottom: 32px;

            input[type="search"] {
                height: 66px;
                border: 2px solid #DDDDDD;
                border-radius: 10px;
                outline: none;
                overflow: hidden;
            }
    
            .search-submit {
                background-color: var(--primary);
                border-radius: 0 10px 10px 0;
                color: white;
                padding: 0 29px;
                right: 0;
                top: 0;
                bottom: 0;
    
                &:hover {
                    svg {
                        transition: all .2s ease-in-out;
                        transform: scale(1.1);
                    }
                }
    
                svg {
                    transition: all .2s ease-in-out;
                }
            }

        }

        .filters {
            &--title {
                color: #555D66;
                font-size: 18px;
                font-weight: bold;
                letter-spacing: 0;
                text-transform: uppercase;
                line-height: 21px;
            }   

            &--itens {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                column-gap: 14px;
            }

            &--item {
                position: relative;
                select {
                    height: 36px;
                    width: 100%;
                    border: 2px solid #DDDDDD;
                    border-radius: 10px;
                    background-color: transparent;
                    padding: 0 12px;
                    color: #555D66;
                    font-size: 16px;
                    font-weight: bold;
                    letter-spacing: 0;
                    appearance: none;
                    line-height: 19px;  

                    
                }

                &:after {
                    @include triangle(bottom,6px,6px, var(--primary));
                    bottom: 15px;
                    position: absolute;
                    right: 10px;
                }

                
            }
        }

        
    }

}

.search-form {
    label[for=search-form-3], label[for=search-form-2], label[for=search-form-1]{
        display: initial;
    }
}