footer.main-footer {
    margin-top: 60px;

    .row .row {
        margin-left: 0;
        margin-right: 0;
    }

    .footer-limit {
        border-radius: 30px 30px 0 0;
        background-color: $c_secondary;
        padding: 33px 20px;
    }

    .footer-title{
        text-transform: uppercase;
        color: #000000;
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
        text-align: center;
        border-bottom: 2px solid black;
    }

    .menus-wrapper {
        display: flex;
        margin-top: 30px;

        .widget_nav_menu {
            border-top: 3px solid rgba(255, 255, 255, 0.2);
            padding-top: 10px;

            @include tablet {
                margin-bottom: 20px;
            }

            ul {
                list-style: none;
                margin: 0;

                li {
                    text-align: center;

                    a {
                        color: #FFFFFF;
                        font-size: 18px;
                        font-weight: 500;
                        letter-spacing: 0;
                        line-height: 22px;
                    }
                }
            }
        }

        .medals {
            border-top: 3px solid rgba(255, 255, 255, 0.2);
            padding-top: 10px;
            color: rgba(255, 255, 255, 0.4);
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 0;
            line-height: 22px;
            text-align: center;
            cursor: not-allowed;

            span {
                color: #C8D400;
                font-size: 14px;
                letter-spacing: 0;
                line-height: 27px;
                text-align: center;
                display: block;
            }
        }

        @include tablet {
            flex-flow: column;

        }
    }

    .development-info {
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        @include mobile{
            align-items: center;
            flex-direction: column;
        }

        .lemann-project {
            display: flex;
            align-items: flex-end;
            color: #FFFFFF;
            font-size: 14px;
            letter-spacing: 0;
            line-height: 8px;

            img {
                margin-left: 10px;
            }
        }

        .site-by-hacklab {
            width: fit-content;

            @include mobile {
                margin-top: 20px;
            }
        }
    }


    @include mobile{
        [alt="fsm"]{
            margin-bottom: 15px;
        }
    }

}
