header.site-header {
    .middle-header-contain {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        .site-description {
            color: var(--description-color)
        }

        .site-branding {
            @include desktop {
                flex-basis: 65%;
            }
        }
    }

    .featured-button {
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px 31px;
        border-radius: 30px;
        text-transform: uppercase;
        height: 32px;
        margin: auto 0;

        i {
            margin-right: 10px;
        }

        &.solid {
            background-color: var(--primary);
            color: white;
        }

        &.outline {
            border: 2px solid white;
            color: white;
        }
    }

    .bottom-header-contain {
        background-color: var(--secondary);
        height: 50px;
        display: flex;
        align-items: center;
    }

    .top-header-contain {
        background-color: var(--primary);
        
        .site-description {
            color: var(--description-color)
        }
    }
}