header.site-header {
    .middle-header-contain {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        .site-description {
            color: var(--description-color)
        }

        .site-branding {
            @include desktop {
                flex-basis: 65%;
            }
        }
    }

    .featured-button {
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px 31px;
        border-radius: 30px;
        text-transform: uppercase;
        height: 32px;
        /*margin: auto;*/

        i {
            margin-right: 10px;
        }

        &.solid {
            background-color: var(--primary);
            color: white;
        }

        &.outline {
            border: 2px solid white;
            color: white;
        }
    }

    .bottom-header-contain .page-header {
        display: flex !important;
    }

    .bottom-header-contain {
        background-color: var(--secondary);
        height: 50px;
        display: flex;
        align-items: center;
    }

    .bottom-header-contain.post-header.active {
        display: flex;
    }

    .bottom-header-contain.post-header {
        display: none;
        margin: 1px auto 0;
        background-color: white;
        border: 1px solid rgb(175, 175, 175);

        @include mobile {
            width: 100vw;
        }
    }
    .bottom-header-contain.post-header .logo-mobile {
        display: none;

        @include mobile {
            display: flex;
        }
    }

    .bottom-header-contain.post-header .logo {
        @include mobile {
            display: none;
        }
    }

    .bottom-header-contain.post-header .logo.page-header-logo {
        display: flex;
    }

    .bottom-header-contain.post-header .wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%
    }

    .bottom-header-contain.post-header .left {
        display: flex;
        flex-direction: row;
    }

    .bottom-header-contain.post-header .subpage-toggle-contain {
        @include mobile {
            display: flex;
        }
    }

    .bottom-header-contain.post-header .nav-wrapper, .bottom-header-contain.post-header .header-search-contain {
        display: none;

        @include mobile {
            display: flex !important;
        }
    }

    .bottom-header-contain.post-header .nav-wrapper.page-header, .bottom-header-contain.post-header  .nav-wrapper.page-header .header-search-contain {
        display: flex;
        width: auto;
    }

    .bottom-header-contain.post-header .site-branding a img {
        margin: 1px 0 1px 20px;
        max-width:200px;
        max-height:40px;
        width: auto;
        height: auto;

        @include mobile {
            max-width: 150px;
        }
    }

    .bottom-header-contain.post-header .title {
        margin: auto 0;

        @include mobile {
            display: none;
        }
    }

    .bottom-header-contain.post-header .page--share {
        display: flex;
        flex-direction: row;
        margin: auto 0;

        @include mobile {
            display: none;
        }
    }

    .bottom-header-contain.post-header .page--share div {
        width: 30px;
        height: 30px;
        background-color: var(--primary);
        border-radius: 50%;
        display: flex
    }

    .bottom-header-contain.post-header .page--share div:nth-child(-n + 2) {
        margin-right: 10px;
    }

    .bottom-header-contain.post-header .page--share div a i {
        color: white;
    }
    .bottom-header-contain.post-header .page--share div:hover a i{
        color: var(--primary);
    }

    .bottom-header-contain.post-header .page--share div:hover {
        border: 1px solid var(--primary);
        background-color: white;
        cursor: pointer;
    }

    .bottom-header-contain.post-header .page--share div a {
        margin: auto;
    }

    .bottom-header-contain .search-area .nav-wrapper, .bottom-header-contain .search-area .header-search-contain {
        display: flex;
    }

    .top-header-contain {
        background-color: var(--primary);
        
        .site-description {
            color: var(--description-color)
        }
    }
}