@import '2-atoms/a-mixins';


/* ----- 1: SETTINGS ------- */
@import '1-settings/s-variables';
@import '1-settings/s-typography';
@import '1-settings/s-globals';


/* ----- 2: ATOMS ------- */
@import '2-atoms/a-spacing';
@import '2-atoms/a-typography';


/* ----- 3: LAYOUT ------- */
@import '3-layout/l-header';
@import '3-layout/l-footer';
@import '3-layout/l-pagination';
@import '3-layout/l-comments';

/* ----- 4: COMPONENTS ------- */
//@import '4-components/c-forms';
@import '4-components/c-sorry-said-wrong';
@import '4-components/c-pullquote-block';


/* ----- 5: PAGES ------- */
@import '5-pages/p-single';
@import '5-pages/p-search';
@import '5-pages/p-author';
@import '5-pages/p-archive';
@import '5-pages/p-404';
@import '5-pages/p-home';


