.hide-tablet-down {
    @include tablet {
        display: none;
    }
}

a:focus {
    outline: 0px;
}

html {
    scroll-behavior: smooth;
}

.wp-block-newspack-blocks-homepage-articles h2.article-section-title {
    font-size: 18px !important;
}