.newsletter {
    padding: 29px;
    color: var(--primary);
    background-color: var(--primary-lighter-75);
    border-radius: 40px;
    align-items: center;
    margin-bottom: 3rem;

    &.horizontal {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        padding: 35px 113px;
        margin-top: 120px;

        @include tablet {
            padding: 15px 40px;
            grid-template-columns: auto;
        }

        > div {
            display: flex;
            justify-content: center;
            flex-direction: column;

            i.fa-envelope {
                margin-bottom: 20px;
            }

            form div {
                width: 100%;

                button {
                    color: #FFFFFF;
                    text-transform: uppercase;
                    font-size: 18px;
                    font-weight: bold;
                    letter-spacing: 0;
                    line-height: 24px;

                    @include tablet {
                        width: 77px;

                        span:first-child {
                            display: none;
                        }
                    }

                    i {
                        display: none;
                        
                        @include tablet {
                            display: block;
                        }
                    }
                }
            }

            p {
                &.link {
                    margin-bottom: 0;
                    text-align: right;
                }

                &.anchor-text {
                    a {
                        color: var(--primary);
                    }
                }
            }
        }
    }

    &.vertical {
        display: flex;
        flex-direction: column;

        .fa-envelope {
            margin: 20px;
        }

        .newsletter-header p {
            text-align: center;
        }

        .anchor-text {
            margin-bottom: 15%;
        }

        form {
            button {
                width: 77px;

                span:first-child {
                    display: none;
                }
            }
        }
    }

    .mc4wp-response {
        padding: 0 15px;
    }

    .newsletter-header p {
        font-size: 32px;
        font-weight: bold;
    }


    .anchor-text {
        font-weight: bold;
        color: var(--secondary);
    }

    form {
        border: 2px solid var(--primary);
        border-radius: 10px;
        margin-bottom: 5px;
        max-width: 100%;

        div {
            display: flex;
        }

        input {
            width: calc(100% - 77px);
            background-color: unset;
            border: none;

        }

        input:focus {
            outline: none;
        }

        button {
            background-color: var(--primary);
            border-top-left-radius: initial;
            border-bottom-left-radius: initial;
        }
    }

    p {
        &.link {
            font-size: 14px;
            color: #555D66;
            text-align: center;

            a {
                color: var(--primary)
            }

            a:hover {
                font-weight: bold;
            }
        }

        &.last-edition a {
            color: var(--primary);
            font-size: 14px;
            font-weight: bold;
        }
    }
}