.team-block {
    background-color: #F5F5F5;
    border-radius: size(10);
    font-family: var(--primary-font);

    .teamBlock-wrapper {
        padding: size(20) size(20) size(20) size(60);

        @include tablet {
            padding: size(20) 0 size(20) size(0);
        }

        .title {
            font-size: size(26);
            margin-left: size(15);
        }

        .team-container {
            display: grid;
            grid-gap: size(32);
            grid-template-columns: 1fr 1fr;
            padding-top: size(32);

            @include tablet {
                display: flex;
                flex-direction: column;
            }

            .member {
                display: flex;
                flex-direction: row;
                margin-bottom: size(32);

                @include tablet {
                    margin-left: size(15);
                }

                .picture-container {
                    width: size(85);
                    height: size(85);
                    overflow: hidden;
                    border-radius: 50%;

                    .member-picture {
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .member-info {
                    margin-left: size(16);

                    .member-name {
                        font-size: size(18);
                        font-weight: bold;
                        margin-bottom: 0;
                    }

                    .member-function {
                        font-size: size(16);
                        margin: 0;
                    }
                }
            }
        }
    }
}
